<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="/lab4/public/script.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <style>
        html {
            box-sizing: border-box;
        }

        body {
            display: block;
            margin: 0;
            height: 100%;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }

        .user-list {
            height: 80vh;
            overflow-y: auto;
            background-color: rgba(200, 196, 196, 0.274);
        }


        .nav ul li {
            margin-left: 10px;
            list-style-type: none;
            padding: 20px 0;

        }

        .nav li a {
            display: block;
            text-decoration: none;
            color: rgb(255, 250, 250);
            font-size: 24px;

        }

        .nav li a:visited {
            font-size: 26px;
            font-weight: 300;
            letter-spacing: 3px;
        }

        .nav li a:hover {
            font-size: 26px;
            font-weight: 300;
            letter-spacing: 3px;
            transition: font-size 0.5s, font-weight 0.5s, letter-spacing 0.5s;
        }

        .nav li a:active {
            color: rgb(255, 255, 255);
            font-size: 26px;
            font-weight: bold;
        }

        .list-group-item {
            margin-top: 10px;
            border-radius: 20px;
        }

        .chat {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .chat-messages {
            flex-grow: 1;
        }

        .chat-form-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #f0f0f0;
        }

        .chat-form input[type=text] {
            width: 80%;
        }

        .btn-borderless {
            border: none;
            outline: none;
            box-shadow: none;
            height: 5vh;
            margin-top: 5px;
        }

        .hidden {
            display: none;
        }

        #room-form input[type=text] {
            width: 70%;
        }
    </style>

</head>

<body>
    <header class="fixed-top" style="background-color: black;">
        <div class="container-fluid m-0">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="text-white">CMS</h2>
                </div>
                <div class="col-auto">
                    <p class="text-white user-site-name mb-0" style="font-size: 18px;"></p>
                </div>
                <input type="hidden" id="userId">
            </div>
        </div>
    </header>

    <div class="container-fluid d-flex flex-column">
        <div class="row" style="min-height: 100vh; padding-top: 40px;">
            <div class="col-sm-3 col-md-3 col-lg-2 flex-grow-1 d-flex flex-column"
                style="background-image: linear-gradient(rgba(80, 156, 237, 0.834), rgba(211, 237, 62, 0.823));">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Students</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Tasks</a></li>
                    </ul>
                </nav>
            </div>
            <div class="chat-container col-sm-9 col-lg-10 col-md-9 flex-grow-1" style="height: 86vh;">
                <h2 class="mt-3">Messages</h2>
                <div class="row" style="height: 86vh;">
                    <div class="col-md-5 col-12"
                        style="border: 4px solid rgba(80, 141, 255, 0.252); border-radius: 5px; padding: 0; overflow-y: auto; height: 87vh;">
                        <div class="user-list" style="height: 86vh;">
                            <h4 style="margin: 10px;">Chat Rooms</h4>
                            <form  style="height: 80px;" id="room-form"
                                style="align-items: center;">
                                <input name="username" type="hidden" class="user-site-name">
                                <input name="room" type="text" required>

                                <button type="submit" id="submitBtn" class="btn btn-primary btn-borderless"
                                    onclick="CreateRoomWithUsers()">+ New
                                    Room
                                </button>

                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" onclick="getConnectedUsers()">Users</button>
                                    <div class="dropdown-menu"
                                        style="height: 80px; width: 100%; position: absolute; top: 100%; overflow-y: auto;"
                                        aria-labelledby="dropdownMenuButton" id="connectedUsersDropdown"></div>

                                </div>

                            </form>

                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    const form = document.getElementById('room-form');

                                    form.addEventListener('submit', function (event) {
                                        event.preventDefault()
                                        const usernameInput = document.querySelector('input[name="username"]');
                                        const oldRoomName = document.querySelector('#room-title').innerText
                                        const username = usernameInput.value;
                                        const roomLinks = document.querySelectorAll('.room-link');

                                        if (oldRoomName.trim() !== '') {

                                            socket.emit('disconnect-from-room', oldRoomName, username);
                                        }
                                        roomLinks.forEach(roomLink => {
                                            roomLink.closest('li').classList.remove('active');
                                        });
                                    });
                                })
                            </script>

                            <ul class="list-group mt-3"> </ul>

                        </div>
                    </div>
                    <div class="col-md-7 col-12" style="background-color: aliceblue;">
                        <div class="chat" style="height: 80vh; ">
                            <h4 id="room-title" class="text-white pl-5"
                                style="background-image: linear-gradient(to right, rgba(80, 156, 237, 0.834), rgba(211, 237, 62, 0.823));">
                            </h4>
                            <p id="users-title" class="mb-0"></p>
                            <ul id="room-users" class="list-unstyled d-flex flex-wrap"></ul>
                            <div class="chat-messages" style="height: 80vh; overflow-y: scroll;">
                                <div class="message-wrap">
                                    <div class="message"></div>
                                </div>
                            </div>
                            <form class="chat-form hidden" id="chat-form">
                                <input type="text" placeholder="Write your message..." id="message-input"
                                    class="message-input">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>