@keyframes shake {
    0% {
        transform: translateX(-2px); 
    }
    50% {
        transform: translateX(2px); 
    }
    100% {
        transform: translateX(-2px); 
    }
}
.bell-dropdown a img{
    animation: shake 0.5s infinite; 
}
.bell-dropdown a:hover img{
    animation: shake 0.5s infinite; 
}
.bell-dropdown a:focus img , .bell-dropdown a:visited img{
    animation: none; 
}