
html{
    box-sizing: border-box;
}
body{
    display: block;
    margin: 0;
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
}
header{
    width: 100%;
    height: 50px;
}
.layout-header{
    position: fixed;
    top: -1px;
    background-color: rgb(0, 0, 0);
}
.header-top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.header-top h2{
    color: rgb(255, 255, 255);
    padding-top: 7px;
    padding-left: 10px;
}

.side-menu{
    display: flex;
    align-items: center;
    height: 50px;
}
.side-menu p{
    color: rgb(255, 255, 255);
    margin-right: 60px;
    font-size: 18px;
}



/*ВИПАДНИЙ СПИСОК - СПОВІЩЕННЯ*/

.bell-dropdown{
    position: relative;
    margin-right: 10px;
}
.link-bell-dropdown{
    cursor: pointer;
 
}
.link-bell-dropdown img{
    height: 20px;
    width: 20px;
}

.link-bell-content{
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    max-height: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: scroll;
}
.link-bell-content a{
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    width: 200px;
    margin-left: 5px;
}
.link-bell-content ul{
    list-style: none;
    padding: 0 10px;
}
.link-bell-content ul li {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}

.link-bell-content ul li img{
    background-color: rgba(167, 204, 58, 0.473);
    padding: 3px;
    border-radius: 50%;
}

.bell-dropdown:hover .link-bell-content {
    display: block;
}

.link-bell-content a:hover {
    background-color: rgba(58, 136, 204, 0.316);
    color: white;
    border-radius: 3px;
}


/*ВИПАДНИЙ СПИСОК - ПРОФІЛЬ*/

.user-dropdown{
    display: flex;
    margin-right: 10px;
}
.link-user-dropdown{
    background: transparent;
    border:none;
    cursor: pointer;
}
.link-user-dropdown img{
    height: 22px;
    width: 22px;
}
.link-user-content {
    display: none;
    position: absolute;
    top: 20px;
    background-color: #f9f9f9;
    min-width: 140px;
    max-height: 140px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.link-user-content a {
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    width: 100px;
    
}

.link-user-content ul{
    list-style: none;
    padding: 0 10px;
}
.link-user-content ul li {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}

.user-dropdown:hover .link-user-content {
    display: block;
}

.link-user-content a:hover {
    background-color:  rgba(58, 136, 204, 0.316);
    color: white;
    border-radius: 3px;
}







/*КОНТЕНТ САЙТУ*/

.site-content{
    position: absolute;
    top: 150px;
    width: 85%;
    margin-left: 15%;
    height: 100%;

}
.site-content h1{
    padding: 0 40px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.332);
 
}


/*ФОРМА ВИДАЛЕННЯ*/
.delete-form{
    display: none;
}
#warning-form{
    width: 450px;
    height: 250px;
    background-color:rgb(255, 255, 255);
    border-radius: 30px;
    outline: 2px solid  rgba(32, 32, 32, 0.651);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#warning-form .form-content{
    width: 450px;
    height: 120px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.375);
    border-top: 1px solid rgba(0, 0, 0, 0.375);
}
#warning-form .form-header h2{

    text-align: center;
    color: black;
}
#warning-form #warning-message{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    
}

#warning-form input[type=button]{
    position: absolute;
    bottom: 15px;
    right: 90px;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
#warning-form input[value^="Ok"]{
    left: 90px;
}

.cross {
    height: 20px;
    width: 50px;
    border: none;
    background-color: white;
    background: transparent;
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
    transition: transform 2s ;
}
.cross img{
    width: 16px;
    height: 16px;
}
.cross:hover{
    transform: rotate(360deg);
}




/*ФОРМА ДОДАВАННЯ СТУДЕНТА*/

.hidden{
    display: none;
}
#student-form{
    width: 450px;
    height: 450px;
    background-color:rgb(255, 255, 255);
    border-radius: 30px;
    outline: 2px solid  rgba(32, 32, 32, 0.651);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
#student-form input[type=text] {
    width: 200px;
    height: 27px;
    border: 2px solid  rgba(32, 32, 32, 0.651);
    border-radius: 10px;
    color: black;
    font-size: 14px;
}
#Group, #Gender, #Bday {
    width: 207px;
    height: 30px;
    border: 2px solid  rgba(32, 32, 32, 0.651);
    border-radius: 10px;
}

#student-form .form-header{
    height: 50px;
    margin-top: 20px;
    text-align: center;
    color: black;
}

/* #student-form .form-header h2{
    text-align: center;
    color: black;
  
} */
#student-form .form-content{
    height: 270px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.375);
    border-top: 1px solid rgba(0, 0, 0, 0.375);
    padding-top: 40px;
    padding-left: 30px;
}
#student-form label{
    padding: 20px 12px 12px 20px;
    font-size: 20px;
    height: 30px;
    color: black;
}
 .form-row{
    width: 450px;
    height: 50px;
}

.form-col-label{
    float: left;
    width: 150px;
}
.form-col-input{
    float: left;
    width: 280px;
    margin-left: 10px;
}

#student-form input[type=button],
#student-form input[type=submit]{
    position: absolute;
    bottom: 20px;
    right: 100px;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
#student-form input[value^="Save"]{
    right: auto;
    left: 90px;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=button]:active,
input[type=submit]:active {
    background-color:  rgba(58, 136, 204, 0.316);
    color: white;
    font-size: 16px;
}

#student-form input[type=text]:focus{
    border: none;
    outline: 2px solid rgba(167, 204, 58, 0.473);
}

#Group:focus, #Gender:focus, #Bday:focus {
    border: none;
    outline: 2px solid rgba(167, 204, 58, 0.473);
}





/*НАВІГАЦІЯ САЙТУ*/

.site-navigation{
    float: left;
    width: 15%;
    min-width: 170px;
    background-image: linear-gradient(rgba(80, 156, 237, 0.834), rgba(211, 237, 62, 0.823));
    overflow: auto;
    position: fixed;
    height: 100%;
    top: 50px;
} 

.site-navigation ul li{
    margin-left: 10px;
    list-style-type: none;
    padding: 20px 0;

}

.site-navigation li a{
    display: block;
    text-decoration: none;
    color:  rgb(255, 250, 250);
    font-size: 24px;

}

.site-navigation li a:visited {
    font-size: 26px;
    font-weight:300;
    letter-spacing: 3px;
}

.site-navigation li a:hover {
    font-size: 26px;
    font-weight:300;
    letter-spacing: 3px;
    transition: font-size 0.5s, font-weight 0.5s, letter-spacing 0.5s;
}
.site-navigation li a:active {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: bold;
}





/* ТАБЛИЦЯ*/

.student-table{
    margin-top: 50px;
    width: 100%

}
 .student-table,th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.student-table th{
    background-color: rgba(0, 0, 0, 0.318);
}
.student-table td{
    height: 20px;
}
.student-table button{
    border: none;
    background: transparent;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-left: 3px;
}
.student-table button img{
    width: 20px;
    height: 20px;
}
.student-table img{
    width: 20px;
    padding: 3px;
}
.table-container{
    overflow-x: auto;
    height: 100%;
    position: relative;
    width: 100%;
}
.table-container #btn-add{
    position:absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: transform 2s ;
}

 .student-table td:nth-child(1),th:nth-child(1) {
    display: none;
} 

.table-container #btn-add:hover{
   transform: rotate(360deg);
}

.student-table td:hover{
   
    background-color:  rgba(133, 175, 189, 0.164);
}

.circle-cell {
    width: 60px; 
    height: 20px; 
    text-align: center; 
    vertical-align: middle; 
}
.circle {
    width: 20px;
    height: 20px;
    background-color: rgb(0, 255, 132);
    border-radius: 50%; 
    display: inline-block;
}
#img-delete:hover, #img-edit:hover {
    transform: scale(1.1); 
    box-shadow: 3px 3px 3px  rgba(76, 177, 232, 0.567);
}





/*АДАПТИВНІСТЬ*/

@media screen and (max-width: 1100px){
    .layout-header{
        position: relative;
    }
    .site-navigation{
        top: 0;
        width: 100%;
        height: auto;
        position: relative;
    }
    .site-navigation li{
        float: left;
        padding: 45px;
        text-align: center;
    }

    .site-navigation ul li{
      margin-left: 40px;
    }

    .site-content{
        margin-left: 0;
        width: 100%;
        height: auto;
        margin-top: 60px;
    }

    header h1{
        font-size: x-large;
        text-align: center;
        padding: 30px;
    }

    #student-form {
        width: 80%;
        height: auto;
        max-width: 350px; 
        padding: 20px; 
    }

    #student-form .form-header{
        font-size: 18px;
    }

    #student-form .form-content {
        padding-top: 20px; 
    }

    #student-form label {
        font-size: 16px; 
    }

    .form-row {
        width: 100%; 
    }

    .form-col-label {
        width: 30%; 
    }

    .form-col-input {
        width: 70%; 
        margin-left: 0; 
    }

    #student-form input[type=button],
    #student-form input[type=submit] {
        position: static; 
        width: 100%; 
        margin-top: 20px; 
        right: auto; 
        border-radius: 20px;
    }

    #warning-form {
        width: 80%;
        height: auto;
        max-width: 350px;
        padding: 20px;
    }

    #warning-form .form-content {
        width: 100%; 
        height: auto; 
        padding-top: 20px;
        padding-bottom: 20px; 
    }

    #warning-form .form-header h2 {
        font-size: 18px;
    }

    #warning-form #warning-message {
        font-size: 16px; 
    }

    
    #warning-form input[type=button] {
        position: static; 
        width: 100%; 
        margin-top: 20px; 
        right: auto; 
        border-radius: 20px;
    }

    #warning-form input[value^="Ok"] {
        left: 0; 
    }
  
}
 @media screen and (max-width: 450px){

    .site-navigation  li{
        float: none;
        padding: 10px;
        text-align: center;
        margin: 0;
        
    }
    .site-navigation ul{
        padding: 0;
    }
    .site-navigation ul li{
        margin-left: 0;
      }

    .site-content{
        margin-top: 150px;
        margin-left: 0;
        width: 100%;
        height: auto;
    }

    #btn-add{
        width: 30px;
        height: 30px;
        right: auto;
        left: 0;
    }
    .student-table{
        overflow-x: scroll;
    }

    .link-bell-content{
        left: 0;
    }
   
}

@media screen and (max-width: 400px){
 
    #student-form .form-content {
        padding-left: 10px;
    }

    #student-form input[type=text] {
        width: 150px;
    }
    #Group, #Gender, #Bday {
        width: 155px;
    }
    .form-col-input {
        width: 60%; 
        margin-left: 20px; 
    }
}

.error-span{
    font-size: 12px;
    color: red;
}
